<!DOCTYPE html>
<html>
<head>
    <title>Flask Random Number Generator</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>

    <script type="text/javascript" charset="utf-8">
        var socket = io();
        console.log("Connected.");
        socket.on('connect', function() {
            socket.emit('my_event', {data: 'I\'m connected!'});
            console.log("emitted connection");
        });

        socket.on('my_event', function(number_received) { 
            console.log("Got my_event message from the server with value ", number_received)
		$('#numbers').append('<li> The number ' + number_received + ' received at ' + new Date().toLocaleTimeString()  + '</li>');
              });
		
/*  how it used to work with client-side polling:
        setInterval(function() {
            $.getJSON('/random', function(data) {
                if (data.number) {
                    $('#numbers').append('<li>' + data.number + '</li>');
                }
            });
        }, 100);
*/

    </script>
</head>
<body>
    <h1>Random numbers pushed by server:</h1>
    <ul id="numbers"></ul>
</body>
</html>